**/node_modules
**/.next
**/.git
**/.vercel
**/.cache
**/dist
**/build
**/coverage
**/Dockerfile
**/docker-compose.yml
**/.env*.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
